body {
    text-shadow: 5px black;
    margin: 0px;
}

section {
    padding: 5px;
    text-align: center;
    color: #f5f5f5;
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
}

/* Another way to target child elements is to nest rules within other rules */

.hero {
    background-color: red;

    img {
        width: 200px;
        border-radius: 50%;
    }
}

.early-career {
    background-image: url(assets/KiBlast.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Targeting a child of another element */
/* .early-career>.card {
    background-color: black;
} */

.card {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px;
    width: 40vw;
    padding-inline-end: 5px;
    display: flex;
    align-items: center;
}

.card>img {
    border-radius: 5px 0px 0px 5px;
    ;
}

.dragonball {
    background-color: red;
}